.default {
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background: #65b3cd;
    border: none;
}

.red {
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: none;
    background: red;
}